/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
  display: block;
  margin: 0 auto;
}


/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
html {
  font-size: 1.2rem;
}

body {
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  background-image: url("file:///Users/paolazaldivar/Documents/pokepet-checker/img/pikachu_bg.jpeg");
  background-size: cover;
  text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white;
}

img {
  height: 40vh;
}
